@font-face {
font-family: myfont ;
    src: url("../fonts/ComicSansMS-BoldItalic.woff");
    src: url("../fonts/ComicSansMS-BoldItalic.woff2");
}

*{
    font-family: myfont;

}


.row{
    min-height: 600px;
    height: auto;
}

table td{
    max-width: 85px;
    table-layout: fixed;
    word-wrap: break-word;

}
#left-side{
    float: left;!important;
}
